Source: ros-kinetic-launch-tools
Section: misc
Priority: extra
Maintainer: Miquel Massot <miquel.massot@uib.es>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roslib, ros-kinetic-rospy
Homepage: http://ros.org/wiki/launch_tools
Standards-Version: 3.9.2

Package: ros-kinetic-launch-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-roslib, ros-kinetic-rospy, xdot
Description: ROS tools and scripts related to launchfiles
