Source: ros-kinetic-plot-tools
Section: misc
Priority: extra
Maintainer: Pep Lluis Negre <plnegre@uib.cat>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rospy
Homepage: http://ros.org/wiki/plot_tools
Standards-Version: 3.9.2

Package: ros-kinetic-plot-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rospy
Description: plot_tools
